body {
    width: 100vw;
    height: 100vh;
    background-color: #F8F8F8;
}

.red {
    width: 60vw;
    height: 100px;
    background-color: #E93031;
}

.font-title {
    font-family: 'Silkscreen', cursive;
    font-size: 20px;
    color: #f8f8f8;
}

.font-footer{
    font-family: 'Silkscreen', cursive;
    font-size: 15px;
    color: #f8f8f8;
    display: flex;
    justify-content: flex-end;
}

.content {
    width: 60vw;
    height: 100vh;
    background-color: #FCFDFD;
}

.textTitle{
    width: 100%;
    background-color: #DB3233;
    color: ghostwhite;
    font-family: 'Silkscreen', cursive;
    font-size: 17px;
}

.textContent{
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
}